*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  background-color: #41a248;

}

#Whiteball > ul > li > div > ul > li.title {
  background-color: #fff;
  color: #000;
}
#Redball > ul > li > div > ul > li.title {
  background-color: rgb(255, 0, 0);
  color: #000;
}
#Yellowball > ul > li > div > ul > li.title {
  background-color: rgb(211, 220, 30);
  color: #000;
}
#MainCamera > ul > li > div > ul > li.title {
  background-color: rgb(93, 30, 220);
  color: #fff;
}
.close-button.close-bottom {
  display: none;
}